shanoir-uploader/src/main/resources/UploadFileService_Dev.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://upload.impl.webservices.shanoir.org/" name="UploadFileService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://upload.impl.webservices.shanoir.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://upload.impl.webservices.shanoir.org/" schemaLocation="UploadFileService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="setUsername">
    <part name="parameters" element="tns:setUsername"/>
  </message>
  <message name="setUsernameResponse">
    <part name="parameters" element="tns:setUsernameResponse"/>
  </message>
  <message name="setPassword">
    <part name="parameters" element="tns:setPassword"/>
  </message>
  <message name="setPasswordResponse">
    <part name="parameters" element="tns:setPasswordResponse"/>
  </message>
  <message name="getErrorMessage">
    <part name="parameters" element="tns:getErrorMessage"/>
  </message>
  <message name="getErrorMessageResponse">
    <part name="parameters" element="tns:getErrorMessageResponse"/>
  </message>
  <message name="uploadFile">
    <part name="parameters" element="tns:uploadFile"/>
  </message>
  <message name="uploadFileResponse">
    <part name="parameters" element="tns:uploadFileResponse"/>
  </message>
  <portType name="FileUploader">
    <operation name="setUsername">
      <input message="tns:setUsername"/>
      <output message="tns:setUsernameResponse"/>
    </operation>
    <operation name="setPassword">
      <input message="tns:setPassword"/>
      <output message="tns:setPasswordResponse"/>
    </operation>
    <operation name="getErrorMessage">
      <input message="tns:getErrorMessage"/>
      <output message="tns:getErrorMessageResponse"/>
    </operation>
    <operation name="uploadFile">
      <input message="tns:uploadFile"/>
      <output message="tns:uploadFileResponse"/>
    </operation>
  </portType>
  <binding name="UploadFileServicePortBinding" type="tns:FileUploader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="setUsername">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setPassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getErrorMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="uploadFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UploadFileService">
    <port name="UploadFileServicePort" binding="tns:UploadFileServicePortBinding">
      <soap:address location="https://localhost:8443/Shanoir-Shanoir/FileUploader"/>
    </port>
  </service>
</definitions>

